/* @font-face {
  font-family: "poppins-medium";
  src: url("../fonts/Poppins-Medium.ttf");
}

@font-face {
  font-family: "poppins-regular";
  src: url("../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "roboto-medium";
  src: url("../fonts/Roboto-Medium.ttf");
}

@font-face {
  font-family: "roboto-regular";
  src: url("../fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: "roboto-light";
  src: url("../fonts/Roboto-Light.ttf");
} */

@font-face {
  font-family: "IBMPlexSans";
  src: url("../fonts/IBMPlexSans-Regular.otf");
}
